:root{
  --pink: fuchsia
}
  * {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  font-size: 65%;
}
body {
  background-image: url(top.gif);
  margin: 0;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.countdown{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
}
h1{
    font-size: 50px;
    color: transparent;
    background-image: linear-gradient(aqua, var(--pink));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -350px 0;
    animation: back 5s linear infinite alternate;
}
  @keyframes back {
    100% {
      background-position: 0 0;
    }
  }

.dates{
    font-size: 40px;
    line-height: 1;
    margin: 0 40px;
}
.count{
    display: flex;
    flex-wrap: wraps;
    text-align: center;
}
.count span{
    font-size: 16px;
    color: orange;
     font-weight: bold;
}
p{
color: azure;
}
